.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
  
  .countdown-item p {
    font-size: 0.8rem;
    margin: 0;
  }

.thankyou{
  text-align: center;
}